# App
STAGE=development or production
PORT=4000
LOG_LEVEL=verbose,debug,log,warn,error,fatal

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sso
DB_USERNAME=postgres
DB_PASSWORD=YourPassword

# Encrypt passwords
BCRYPT_SALTORROUNDS=10

# JWT
JWT_SECRET=YourSecret
JWT_ACCESS_TOKEN_EXPIRES_IN=5m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

# Notifications
# SMTP_HOST=smtp.example.email
# SMTP_PORT=465
# SMTP_SECURE=true for port 465, false for other ports
# SMTP_SENDER_NAME=AnName
# SMTP_USERNAME=AnEmail
# SMTP_PASSWORD=ThePassword
# Notifications (example with gmail and SSL)
SMTP_HOST=smtp.gmail.email
SMTP_PORT=465
SMTP_SECURE=true
SMTP_SENDER_NAME=SSO App
SMTP_USERNAME=an.email@gmail.com
# Application password created in Google account
SMTP_PASSWORD=xxxx xxxx xxxx xxxx